<nav class="navbar navbar-dark  mt-0 pt-0" style="background-color: rgb(92, 25, 97);">
    <div class="container">
      <a class="navbar-brand" href="#">
       
        <i class="fa-solid fa-school fs-0" style="color: #ffffff;"></i> 
        <a class="navbar-brand" href="#"> SCHOOL OF TECHNOLOGY</a>
        <a routerLink="" style="color: white; text-decoration: none; margin-left: 300px;">Home</a>
        <a routerLink="/profile"  style="color: white; text-decoration: none; margin-left: 100px;">Profile</a>
       
    </a>
    </div>
  </nav>
