<!-- banner -->
<div class="banner">
    <img src="https://png.pngtree.com/background/20210710/original/pngtree-graduation-season-minimalist-background-banner-picture-image_1045553.jpg" width="100%">
</div>
  <!-- contents -->
  <div >
    <div class="col text-right pt-5 ps-4">
        <h1 class="ms-5"[innerText]='text'></h1>
        <h5 class="ms-5">Skills for your present (and your future). Get started with us.</h5>
        <p class="ms-5 w-75">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore similique vero quae quod neque eum beatae voluptates fuga possimus fugit nihil alias officia in corrupti minima quibusdam, explicabo molestiae quidem.</p>
        <button class="btn btn-info text-light ms-5 mb-5" routerLink="/profile" [disabled]="isDisabled">View Profile</button>
    </div>
   
  </div>
